header {
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-position: top left, right bottom;
  background-repeat: no-repeat;
}
.logo h2 {
  font-size: 45px;
  cursor: pointer;
}
nav {
  width: 71%;
  margin: 0 auto;
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 51px;
  align-items: center;
}
li {
  font-size: 20px;
}
a {
  color: #474747;
}
.orange {
  color: #fd6e0a;
}

/* Banner area design started from here */

.bannerArea {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 46px 38px 0px 230px;
}

.leftArea {
  max-width: 585px;
}

.leftArea h2 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 5px;
}

.leftArea h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}

.leftArea p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
  line-height: 30px;
}
.rightArea img {
  max-width: 584px;
  vertical-align: middle;
}

/* About section design started from here */
#about {
  padding-top: 130px;
}
#about .aboutContainer {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #fff8f3;
  padding: 131px 157px;
}
.sectionHeading h3 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 30px;
}
.sectionHeading p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #757575;
}
.aboutInfo {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  text-align: center;
}

.aboutInfo p {
  font-size: 20px;
  color: #757575;
  line-height: 30px;
}
.aboutInfo h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

/* Skills designed started from here */
#skills {
  padding-top: 100px;
}
.skillContainer {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

.cardContainer {
  display: flex;
  gap: 24px;
  padding-top: 20px;
}
.card {
  max-width: 267px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 #d0cece;
}
.card img {
  max-width: 44px;
}
.card h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 20px;
  color: #181818;
  font-weight: bold;
}

.card p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
