header {
  /* background-color: #fff8f3; */
  background-color: rgb(144, 214, 191);
  max-width: 1600px;
  margin: 0 auto;
}
.logo h2 {
  font-size: 45px;
  cursor: pointer;
}
nav {
  width: 54%;
  margin: 0 auto;
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  gap: 51px;
  align-items: center;
}
li {
  font-size: 20px;
}
a {
  color: #474747;
}
.orange {
  color: #fd6e0a;
}
