@media screen and (max-width: 480px) {
  .cardContainer {
    flex-direction: column;
  }
  .skillContainer {
    width: 95%;
  }
  .card {
    width: 100%;
    max-width: 100%;
  }
  .sectionHeading h3 {
    font-size: 25px;
  }
  .sectionHeading p {
    font-size: 16px;
  }
  .resumeBody {
    flex-direction: column;
  }
  .eduHead,
  .expHead {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .educard h3,
  .educard h4 {
    font-size: 18px;
  }
  .eduHead h4 {
    margin-left: 10px;
  }
  .expHead h4 {
    margin-left: 10px;
  }
  .educard {
    margin: 0px 10px;
  }
  .footerContainer {
    flex-direction: column;
  }
  footer {
    margin-top: 50px;
    padding: 50px 10px;
  }
  .socialArea h2,
  .formArea h2 {
    font-size: 20px;
  }
  .formArea input {
    width: 100%;
    height: 40px;
    padding: 18px 30px;
    font-size: 16px;
  }
  .formArea textarea {
    width: 100%;
  }
  .aboutInfo {
    flex-direction: column;
  }
  #about .aboutContainer {
    width: 95%;
    padding: 50px 10px;
  }
  .aboutInfo h4 {
    font-size: 18px;
  }
  #skills {
    padding-top: 50px;
  }
  nav {
    flex-direction: column;
    width: 95%;
  }
  ul {
    flex-direction: column;
    gap: 25px;
    margin-top: 50px;
  }
  .btn {
    height: 35px;
    width: 150px;
  }
  .bannerArea {
    flex-direction: column;
    margin: 46px 10px 0px 10px;
  }
  .rightArea img {
    width: 100%;
  }
  .rightArea {
    background: url(../images/header_bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  header {
    background: #fff8f3;
    background-position: 38px 23px, right bottom;
    background-repeat: no-repeat;
  }
  .leftArea h1 {
    font-size: 25px;
  }
  .leftArea h2 {
    font-size: 18px;
  }
  .leftArea {
    text-align: center;
  }
  .leftArea button {
    margin-bottom: 20px;
  }
}
