@media screen and (max-width: 480px) {
  .cardContainer {
    flex-direction: column;
  }
  .skillContainer {
    width: 95%;
  }
  .card {
    width: 100%;
    max-width: 100%;
  }
  .sectionHeading h3 {
    font-size: 25px;
  }
  .sectionHeading p {
    font-size: 16px;
  }
  .resumeBody {
    flex-direction: column;
  }
  .eduHead,
  .expHead {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .educard h3,
  .educard h4 {
    font-size: 18px;
  }
  .eduHead h4 {
    margin-left: 10px;
  }
  .expHead h4 {
    margin-left: 10px;
  }
  .educard {
    margin: 0px 10px;
  }
  .footerContainer {
    flex-direction: column;
  }
  footer {
    margin-top: 50px;
    padding: 50px 10px;
  }
  .socialArea h2,
  .formArea h2 {
    font-size: 20px;
  }
  .formArea input {
    width: 100%;
    height: 40px;
    padding: 18px 30px;
    font-size: 16px;
  }
}
